html {
  font-size: 62.5%;
}
.container {
  margin: 0 auto;
  width: 100%;
  height: 1000px;
  background-image: url(../images/bg-image.jpg);
  background-repeat: no-repeat;
  background-color: black;
  background-attachment: fixed;
  background-size: 100% auto;
  display: flex;
  flex-direction: column;
}
.header h2 {
  color: white;
  font-family: 'Schoolbell', cursive;
  font-size: 4rem;
  display: flex;
  justify-content: flex-end;
  margin: 1% 2% 0 0;
}
.nav {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}
.title-block {
  width: 100%;
  height: 325px;
  margin: 15% 0 0 0;
  color: white;
  background-color: darkolivegreen;
}
.title-block h1 {
  font-size: 10rem;
  text-align: center;
  font-family: 'Schoolbell', cursive;
  line-height: 0.3rem;
}
.title-block h2 {
  font-size: 3rem;
  text-align: center;
  font-family: 'Patua One', cursive;
}
.sign-up {
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  margin: 10% 0 0 0;
}
.btn {
  width: 100px;
  height: 50px;
  border-radius: 4px;
  background-color: white;
  color: darkolivegreen;
  display: flex;
  align-self: center;
  margin: 1% 0 3% 47%;
  padding: 0 0 0 1.3%;
  font-family: 'Patua One', cursive;
}
/*bottom content*/
.arrow {
  display: flex;
  justify-content: center;
  color: white;
}
.learn-content {
  background-color: black;
  padding: 0.05% 0 0 0;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20% 0 0 0;
  width: 100%;
  height: auto;
  padding: 0 0 3% 0;
}
.learn-content .headline {
  color: white;
  text-align: center;
  font-size: 3rem;
  font-family: 'Patua One', cursive;
}
.info-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  margin: 5% 0 0 0;
}
.title-font {
  font-size: 3rem;
  text-align: center;
  font-family: 'Patua One', cursive;
}
.learn-content .left-content {
  width: 40%;
  color: white;
  margin: 0% 4% 0% 0%;
  font-size: 2rem;
  text-align: center;
  line-height: 1.4em;
}
.learn-content .right-content {
  width: 40%;
  color: white;
  font-size: 2rem;
  text-align: center;
  line-height: 1.4em;
}
.final-paragraph {
  color: white;
  font-size: 2rem;
  text-align: center;
  margin: 5% 4% 0 2%;
  line-height: 1.4em;
}
.arrow-up {
  text-align: center;
  margin: 0 0 3% 0;
  color: white;
}
.arrow-up :link {
  color: white;
}
.card {
  height: 200px;
  width: 200px;
  background-color: gray;
}
.contact-content {
  background-color: darkolivegreen;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  text-align: center;
  padding: 3% 0 3% 30%;
}
.contact-content .email {
  width: 50%;
}
.contact-content .phone {
  width: 50%;
}
.contact-content .address {
  width: 50%;
}
