html {
    font-size: 62.5%;
}


.container {
    margin: 0 auto;
    width: 500px;
    height: auto;
    background-image: url(../images/bg-image.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;

    @media @tablet {
        width: 800px;
    }
    @media @desktop {
        width: 1680px;
    }
}

.header h2 {
    color: white;
    font-family: 'Schoolbell', cursive;
    font-size: 4rem;
    display: flex;
    justify-content: flex-end;
    margin: 1% 2% 0 0;

}

  // navigation
  .nav {
    // phone view
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
    line-height: 3rem;
    background-color: black;
    color: white;
    font-family: 'Patua One', cursive;

    @media @tablet {
        background: none;
        flex-direction: row;
        justify-content: center;
    }
    
    a:link {
        text-decoration: none;
        color: white;
        border-bottom: .25px solid white;
        padding: 2% 2% 2% 2%;

        @media @tablet {
            border-bottom: none;
        }
    }
    a:visited {
        color: white;
    }
  }

.title-block {
    //phone view
    width: 500px;
    height: auto;
    margin: 15% 0 0 0;
    color: white;
    background-color: darkolivegreen;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    @media @tablet {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 0 14% 0;
    }
    
    h1 {
        font-size: 5rem;
        text-align: center;
        font-family: 'Schoolbell', cursive;
        line-height: .1rem;

        @media @desktop {
            font-size: 10rem;
        }
        @media @desktop {
            padding: 0 0 0 0;
        }
    }

    h2 {
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Patua One', cursive;
    padding: 0 2.5% 0 0;

        @media @tablet {
            padding: 0 20% 0 0;
        }
        @media @desktop {
            padding: 0 30% 0 0;
            font-size: 2rem;
        }
    }
}
.sign-up {
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.btn {
    width: 80px;
    height: 30px;
    border-radius: 4px;
    background-color: white;
    color: darkolivegreen;
    display: flex;
    align-self: center;
    margin: 2% 0 2% 0;
    padding: 0 0 0 2.5%;
    font-family: 'Patua One', cursive;

        @media @tablet {
            padding: 0 0 0 1.5%;
        }
        @media @desktop {
            padding: 0 1% 0 .85%;
        }
}


/*bottom content*/
// .arrow {
//     display: flex;
//     justify-content: center;
//     color: white;
// }

.learn-content {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

    @media @tablet {
        justify-content: center;
    }

    .headline{
        color: white;
        text-align: center;
        font-size: 2rem;
        font-family: 'Patua One', cursive;

        @media @tablet {
            widows: 100%;
            padding: 0 18% 0 0;
        }
        @media @desktop {
            padding: 2% 35% 0 0;
        }
    }

    .info-content {
        flex-direction: column;

        @media @tablet {
            width: 80%;
            padding: 0 0 0 7%;
        }
    }

    .title-font {
        font-size: 3rem;
        text-align: center;
        font-family: 'Patua One', cursive;
    }

    .left-content {
        color: white;
        font-size: 2rem;
        text-align: center;
        line-height: 1.4em;
    }

    .right-content {
        color: white;
        font-size: 2rem;
        text-align: center;
        line-height: 1.4em;
    }

    .final-paragraph {
        color: white;
        font-size: 2rem;
        text-align: center;
        line-height: 1.4em;

        @media @tablet {
            width: 80%;
            padding: 0 0 0 7%;
        }
    }
}

// .arrow-up {
//     text-align: center;
//     margin: 0 0 3% 0;
//     color: white;
//     :link {
//         color: white;
//     }
// }


.contact-content {
    background-color: darkolivegreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-align: center;
    padding: 2% 0 2% 5%;

    @media @desktop {
        margin: 10% 0 0 0;
    }

    .email{
        width: 90%;
    }
    .phone {
        width: 90%;
    }
    .address {
        width: 90%;
    }
}