html {
    font-size: 62.5%;
}


.container {
    margin: 0 auto;
    width: 500px;
    height: auto;
    background-image: url(../images/bg-image.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media @tablet {
        width: 800px;
    }
    @media @desktop {
        width: auto;
    }
}

// Login button
.login-button {
    background-color: white;
    padding: 0 20px 0 0;
    margin: 0 0 0 40%;
    color: darkolivegreen;
    font-size: 2rem;
    font-family: 'Patua One', cursive;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
    width: 100px;
    
    @media @tablet {
        margin: 0 0 0 42%;
    }
}


.title-block {
    width: 500px;
    height: auto;
    color: white;
    background-color: darkolivegreen;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    @media @tablet {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .main-title {
        font-size: 5rem;
        font-family: 'Schoolbell', cursive;
        line-height: .1rem;
        display: flex;
        justify-content: center;

        @media @tablet {
        }

        @media @desktop {
            font-size: 10rem;
            display: flex;
            justify-content: center;
        }
    }

    .tagline {
    font-size: 1.5rem;
    font-family: 'Patua One', cursive;
    display: flex;
    justify-content: center;

        @media @tablet {
        }
        @media @desktop {
            font-size: 2rem;
            display: flex;
            justify-content: center;
        }
    }
}


.sign-up-btn {
    background-color: white;
    margin: 4% 0 4% 34%;
    color: darkolivegreen;
    font-size: 2rem;
    font-family: 'Patua One', cursive;
    border-radius: 4px;
    width: 150px;
    display: flex;
    justify-content: center;

        @media @tablet {
            margin: 4% 0 4% 39%;
        }
        @media @desktop {
            display: flex;
            align-self: center;
            margin: 2% 0 2% 0;
        }
}


.learn-content {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;


    .headline{
        color: white;
        text-align: center;
        font-family: 'Patua One', cursive;
        display: flex;
        justify-content: center;
        margin: 2% 0 0 0;
        h2 {
            font-size: 3rem;
        }


    .info-content {
        flex-direction: column;
    }
}

    .title-font {
        font-size: 3rem;
        text-align: center;
        font-family: 'Patua One', cursive;
    }

    .top-content {
        color: white;
        font-size: 2rem;
        text-align: center;
        line-height: 1.4em;
        
        @media @tablet {
            width: 80%;
            padding: 0 0 0 9%;
        }
    }

    .middle-content {
        color: white;
        font-size: 2rem;
        text-align: center;
        line-height: 1.4em;

        @media @tablet {
            width: 80%;
            padding: 0 0 0 9%;
        }
    }

    .bottom-paragraph {
        color: white;
        font-size: 2rem;
        text-align: center;
        line-height: 1.4em;

        @media @tablet {
            width: 80%;
            padding: 0 0 0 9%;
        }
    }
}



.contact-content {
    background-color: darkolivegreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-align: center;
    padding: 2% 0 2% 5%;

    @media @desktop {
        margin: 10% 0 0 0;
    }

    .email{
        width: 90%;
    }
    .phone {
        width: 90%;
    }
    .address {
        width: 90%;
    }
}